<h1><span class="badge badge-primary">USER DETAILS</span></h1>
<div class="alert alert-dismissible alert-success">
	<p><strong>Author:</strong> <%=@all.first_name%> <%=@all.last_name%></p>
	<p><strong>City:</strong> <%=@all.city.name%></p>
	<p><strong>Date of creation:</strong> <%=@all.created_at%></p>
</div>