<h1><span class="badge badge-primary">NEW GOSSIP</span></h1>
<div class="alert alert-dismissible alert-success">
	<form action="gossips_create_path" method="POST">
	  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	  <h3><strong>title:</strong></h3><input type="text" name="get_title"></br>
	  <h3><strong>content:</strong></h3><input type="text" name="get_content"></br>
	  <a href="/" class="btn btn-primary btn-lg"  role="button">create</a>
	</form>
</div>