<h1><span class="badge badge-primary">WELCOME TO YOU <%=@user.upcase%></span></h1>
<div class="alert alert-dismissible alert-success">
	<p>BIENVENUE <%=@user%> ! Ici c'est notre super site de potins, il est chouette, non ?</p>
</div>